<h1>Listing sandwiches for your Order</h1>

Here is another sandwich Order!<br/><br/>

<%= @order.user.display_name %> would like the following Please!<br/><br/>

<table>
  <tr>
    <th></th>
  </tr>

<% @sandwiches.each_with_index do |sandwich, idx| %>
  <tr>
    <td><%= idx + 1 %>. <%= sandwich.ingredients.present? ?
                                    sandwich.ingredients.collect_names : "nothing" %> in a
      <%= sandwich.container.name if sandwich.container %>
    </td>
  </tr>
<% end %>
</table>

<br/>
<br/>
<br/>
A Snappy quote from our friends at http://www.iheartquotes.com/
<br/>
<%= SnappyQuote.get_one %>
